@charset "UTF-8";

html, body {
	user-select: none;
}
body {
	background-color: #000;
	overflow: hidden;
}
body > div {
	height: 100%;
}
md-slider .md-thumb:after {
	background-color: #fff !important;
}
.md-slider-content > .md-track-container > .md-track {
	background-color: #555;
}
.md-slider-content > .md-track-container > .md-track-fill {
	background-color: #fff !important;
}
#playerPage md-card {
	background-color: #ddd;
}
.md-errors-spacer {
	display: none;
}
main.flex {
	overflow-y: auto;
}

.clearfix { clear: both; }
.alignL { text-align: left; }
.alignC { text-align: center; }
.alignR { text-align: right; }
.floatL { float: left; }
.floatR { float: right; }

#videoWrapper {
	display: flex;
	position: absolute;
	z-index: 10;
	top: 0px;
	bottom: 0px;
	width: 100%;
}
.messageArea {
	position: absolute;
	z-index: 20;
	top: 30%;
	left: calc(50% - 112px);
	width: 200px;
	font-size: 16px;
	text-align: center;
	padding: 10px;
	color: #000;
	border: 2px dashed #000;
	background-color: #fff;
}
.messageArea > img {
	height: 64px;
	margin: 10px;
	filter: invert(1);
}
#startupArea {
	cursor: pointer;
}
#startupArea:hover {
	background-color: #ccc;
}
#statusIconArea {
	position: absolute;
	top: calc(50% - 10vh);
	width: 100%;
	height: 20vh;
	text-align: center;
}
#statusIconArea > img {
	height: 100%;
}
#videoPlayer {
	width: 100%;
}
#videoControls {
	display: block;
	position: absolute;
	z-index: 30;
	bottom: 0px;
	width: 100%;
	padding-top: 10px;
	text-align: center;
	background-color: #000;
}
#playbackSlider {
	display: inline-block;
	width: calc(100% - 180px);
	height: 38px;
	margin-top: -16px;
}
#timePlayed, #timeTotal {
	display: inline-block;
	width: 80px;
	color: #fff;
}
#timePlayed {
	float: left;
}
#timeTotal {
	float: right;
}
#controlsArea button {
	width: 32px;
	height: 32px;
	margin: 0px;
	padding: 0px;
	border-radius: 0px;
}
#controlsArea button:hover {
	background-color: #333;
}
.sliderArea {
	display: inline-block;
}
.sliderArea:hover {
	background-color: #333;
}
.verticalSlider {
	position: absolute;
	bottom: 36px;
	width: 32px;
	margin: 0px;
	background-color: #333;
}
.verticalSlider > .md-slider-wrapper {
	width: 100% !important;
}
#infoMsgArea {
	position: absolute;
	top: 10px;
	left: 10px;
	color: #fff;
	font-size: 24px;
	font-weight: bold;
}
#subtitlesArea {
	position: absolute;
	bottom: 0px;
	width: 100%;
	text-align: center;
	font-size: 3.5vh;
}
#subtitlesArea > div {
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
	padding: 2px 5px;
}
#openFileForm {
	display: none;
}
.volumeMuted {
	background-color: #d00 !important;
}
#volumeMeter {
	display: inline-block;
	width: 10px;
	height: 100%;
}
#volumeMeter > div {
	background-color: #333;
}
#settingsCard {
	width: 400px;
	margin-left: auto;
	margin-right: auto;
}
