<div id="playerArea" ng-controller="PlayerCtrl">

	<!-- video area -->
	<div id="videoWrapper" ng-style="{'background-image': 'url(' + albumArtImg + ')'}">

		<!-- info message -->
		<div id="infoMsgArea">{{ infoMessage }}</div>

		<!-- welcome message -->
		<div
			id="startupArea"
			class="messageArea"
			ng-show="appStartup"
			ng-click="openFile()"
		>
			<img src="./imgs/video.svg">
			<img src="./imgs/music.svg">
			<br>
			<div>{{ $parent.langStrings.startup_msg }}</div>
		</div>

		<!-- error message -->
		<div class="messageArea" ng-show="errorMessage">
			<img src="./imgs/error.svg">
			<br>
			<div>{{ errorMessage }}</div>
		</div>

		<!-- status icon -->
		<div id="statusIconArea" ng-show="statusIcon">
			<img ng-src="./imgs/{{ statusIcon }}.svg">
		</div>

		<!-- subtitles -->
		<div
			id="subtitlesArea"
			ng-show="showSubtitles"
			ng-style="{'bottom': ((showControls) ? 80 : 0) + 'px'}"
			ng-bind-html="currSubtitle | trustedHTML"
		></div>

		<!-- video element -->
		<video id="videoPlayer"></video>

		<!-- audio element -->
		<!-- <audio id="audioPlayer"></audio> -->

		<!-- audio info -->
		<div id="audioInfoArea"></div>

		<!-- audio visualiser -->
		<canvas id="visualiserCvs"></canvas>
	</div>

	<!-- controls -->
	<div id="videoControls" ng-show="showControls">

		<!-- seeker -->
		<div id="seekerArea">
			<div id="timePlayed">{{ playback.timePlayed }}</div>
			<md-slider
				id="playbackSlider"
				class="md-primary"
				min="0"
				max="{{ playback.duration }}"
				aria-label="Seeker"
				ng-model="playback.time"
				ng-change="seekerChanged()"
			></md-slider>
			<div id="timeTotal">{{ playback.timeTotal }}</div>
			<div class="clearfix"></div>
		</div>

		<!-- buttons area -->
		<div id="controlsArea" class="clearfix">

			<!-- open file -->
			<md-button
				class="md-icon-button floatL"
				title="{{ $parent.langStrings.open_file }}"
				aria-label="Open File"
				ng-click="openFile(true)"
			>
				<md-icon md-svg-src="./imgs/eject.svg"></md-icon>
			</md-button>

			<!-- add file -->
			<md-button
				class="md-icon-button floatL"
				title="{{ $parent.langStrings.add_file }}"
				aria-label="Add File"
				ng-click="appendFile()"
			>
				<md-icon md-svg-src="./imgs/playlist_add.svg"></md-icon>
			</md-button>

			<!-- view playlist -->
			<md-button
				class="md-icon-button floatL"
				title="{{ $parent.langStrings.view_playlist }}"
				aria-label="View Playlist"
				ng-click="viewPlaylist()"
			>
				<md-icon md-svg-src="./imgs/playlist_play.svg"></md-icon>
			</md-button>

			<!-- volume -->
			<span
				id="volumeArea"
				class="sliderArea floatL"
				title="{{ $parent.langStrings.volume }}. {{ $parent.langStrings.click_to_mute }}"
			>
				<md-button
					class="md-icon-button floatL"
					aria-label="Mute"
					ng-class="{'md-primary': currVolume == 0.0}"
					ng-click="toggleMute()"
				>
					<md-icon md-svg-src="./imgs/{{ volumeImg }}.svg"></md-icon>
				</md-button>
				<md-slider
					class="verticalSlider md-primary floatR"
					min="0.0"
					max="1.0"
					step="0.1"
					aria-label="Volume"
					ng-show="showVolSlider"
					ng-model="volumeSlider.value"
					ng-change="volumeChanged()"
					md-vertical
				></md-slider>
			</span>

			<!-- subtitles -->
			<md-button
				class="md-icon-button floatL"
				title="{{ $parent.langStrings.show_subtitles }}"
				aria-label="Subtitles"
				ng-click="toggleSubtitles()"
			>
				<md-icon md-svg-src="./imgs/{{ (showSubtitles) ? 'subtitles' : 'subtitles_off' }}.svg"></md-icon>
			</md-button>

			<!-- prev video -->
			<md-button
				class="md-icon-button"
				title="{{ $parent.langStrings.prev_media }}"
				aria-label="Previous"
				ng-click="prevTrack()"
			>
				<md-icon md-svg-src="./imgs/skip_prev.svg"></md-icon>
			</md-button>

			<!-- jump back -->
			<md-button
				class="md-icon-button"
				title="{{ $parent.langStrings.jump_back }} {{ settings.jump_time_amount }}s"
				aria-label="Jump Back"
				ng-click="jumpVideoTime('B')"
			>
				<md-icon md-svg-src="./imgs/fast_rewind.svg"></md-icon>
			</md-button>

			<!-- play / pause -->
			<md-button
				class="md-icon-button"
				title="{{ $parent.langStrings.play_pause }}"
				aria-label="Play"
				ng-click="openPlayPause()"
			>
				<md-icon md-svg-src="./imgs/{{ (playback.playing) ? 'pause' : 'play' }}.svg"></md-icon>
			</md-button>

			<!-- jump forward -->
			<md-button
				class="md-icon-button"
				title="{{ $parent.langStrings.jump_fwrd }} {{ settings.jump_time_amount }}s"
				aria-label="Jump Forward"
				ng-click="jumpVideoTime('F')"
			>
				<md-icon md-svg-src="./imgs/fast_forward.svg"></md-icon>
			</md-button>

			<!-- next video -->
			<md-button
				class="md-icon-button"
				title="{{ $parent.langStrings.next_media }}"
				aria-label="Next"
				ng-click="nextTrack()"
			>
				<md-icon md-svg-src="./imgs/skip_next.svg"></md-icon>
			</md-button>

			<!-- settings -->
			<md-button
				class="md-icon-button floatR"
				title="{{ $parent.langStrings.settings }}"
				aria-label="Settings"
				ng-click="$parent.openSettings()"
			>
				<md-icon md-svg-src="./imgs/settings.svg"></md-icon>
			</md-button>

			<!-- info -->
			<md-button
				class="md-icon-button floatR"
				title="{{ $parent.langStrings.info }}"
				aria-label="Info"
				ng-click="showInfo()"
			>
				<md-icon md-svg-src="./imgs/info.svg"></md-icon>
			</md-button>

			<!-- fullscreen -->
			<md-button
				class="md-icon-button floatR"
				title="{{ $parent.langStrings.fullscreen }}"
				aria-label="Fullscreen"
				ng-click="toggleFullScreen()"
			>
				<md-icon md-svg-src="./imgs/fullscreen.svg"></md-icon>
			</md-button>

			<!-- playback speed -->
			<span
				id="speedArea"
				class="sliderArea floatR"
				title="{{ $parent.langStrings.play_speed }}. {{ $parent.langStrings.click_normal_speed }}"
			>
				<md-button
					class="md-icon-button floatL"
					aria-label="Speed"
					ng-click="normalSpeed()"
				>
					<md-icon md-svg-src="./imgs/speed.svg"></md-icon>
				</md-button>
				<md-slider
					class="verticalSlider md-primary floatR"
					min="0.1"
					max="4.0"
					step="0.1"
					aria-label="Speed"
					ng-show="showSpeedSlider"
					ng-model="speedSlider.value"
					ng-change="speedChanged()"
					md-vertical
				></md-slider>
			</span>

			<!-- loop -->
			<md-button
				class="md-icon-button floatR"
				title="{{ $parent.langStrings.loop }}"
				aria-label="Repeat"
				ng-click="repeatVideo()"
			>
				<md-icon md-svg-src="./imgs/{{ (playback.repeat) ? 'repeat_on' : 'repeat' }}.svg"></md-icon>
			</md-button>

		</div>
	</div>

	<form id="openFileForm">
		<input
			id="openFileField"
			type="file"
			accept="video/*, audio/*"
			multiple="multiple"
			on-file-change="loadFiles"
			ng-model="openFiles"
		>
	</form>
</div>
